<div id="wrap">
  <div class="bay" id="bay01" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div class="stone2" id="f" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone2" id="g" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone2" id="h" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone2" id="i" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone2" id="j" draggable="true" ondragstart="drag(event)"></div>
  </div>
 </div>