<div id="wrap">
  <div class="bay" id="bay1" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div class="stone" id="a" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone" id="b" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone" id="c" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone" id="d" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone" id="e" draggable="true" ondragstart="drag(event)"></div>
  </div>
 </div>