<%= link_to image_tag("http://via.placeholder.com/100x100") %>


<%= link_to image_tag("http://via.placeholder.com/100x100") %>


<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= image_tag("http://via.placeholder.com/100x100") %>
  </a>
 
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-block">
    <button>press here</button>
  </div>
</div>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
    <%= image_tag("http://via.placeholder.com/100x100") %>
  </a>
 
</p>
<div class="collapse" id="collapseExample2">
  <div class="card card-block">
    <button>press here</button>
  </div>
</div>

<div class="try4"></div>

<script>


 
</script>


