<div id="wrap">
  <div class="bay" id="bay1" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div class="stone" id="a" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone" id="b" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone" id="c" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone" id="d" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone" id="e" draggable="true" ondragstart="drag(event)"></div>
  </div>
 </div>


<div id="wrap">
  <div class="bay" id="bay01" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div class="stone2" id="f" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone2" id="g" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone2" id="h" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone2" id="i" draggable="true" ondragstart="drag(event)"></div>
    <div class="stone2" id="j" draggable="true" ondragstart="drag(event)"></div>
  </div>
 </div>










<div class="container">
  <div class="honeycomb ">
    <div class="hexes-1 column">
      <div class="hex bay" id="bay2" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>

      <div class="hex bay" id="bay3" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay4" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay5" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-2 column">
      <div class="hex bay" id="bay6" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay7" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay8" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay9" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay10" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-3 column">
      <div class="hex bay" id="bay11" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay12" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay13" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay14" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-4 column">
      <div class="hex bay" id="bay15" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay16" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay17" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay18" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay19" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-5 column">
      <div class="hex bay" id="bay20" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay21" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay22" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay23" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-6 column">
      <div class="hex bay" id="bay24" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay25" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay26" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay27" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay28" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-7 column">
      <div class="hex bay" id="bay29" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay30" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay31" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay32" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-8 column">
      <div class="hex bay" id="bay33" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay34" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay35" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay36" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay37" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-9 column">
      <div class="hex bay" id="bay38" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay39" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay40" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay41" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-10 column">
      <div class="hex bay" id="bay42" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay43" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay44" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay45" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay46" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-11 column">
      <div class="hex bay" id="bay47" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay48" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay49" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay50" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-12 column">
      <div class="hex bay" id="bay51" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay52" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay53" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay54" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay55" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-13 column">
      <div class="hex bay" id="bay56" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay57" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay58" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay59" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-14 column">
      <div class="hex bay" id="bay60" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay61" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay62" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay63" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay64" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-13 column">
      <div class="hex bay" id="bay65" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay66" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay67" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay68" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay69" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay70" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay71" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay72" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-2 column">
      <div class="hex bay" id="bay73" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay74" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay75" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay76" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay77" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-3 column">
      <div class="hex bay" id="bay78" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay79" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay80" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay81" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-4 column">
      <div class="hex bay" id="bay82" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay83" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay84" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay85" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay86" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-5 column">
      <div class="hex bay" id="bay87" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay88" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay89" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay90" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-6 column">
      <div class="hex bay" id="bay91" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay92" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay93" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay94" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay95" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-7 column">
      <div class="hex bay" id="bay96" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay97" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay98" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay99" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-8 column">
      <div class="hex bay" id="bay100" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay101" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay102" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay103" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay104" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-9 column">
      <div class="hex bay" id="bay105" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay106" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay107" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay108" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-10 column">
      <div class="hex bay" id="bay109" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay110" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay111" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay112" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay113" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-11 column">
      <div class="hex bay" id="bay114" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay115" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay116" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay117" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-12 column">
      <div class="hex bay" id="bay118" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay119" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay120" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay121" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay122" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-13 column">
      <div class="hex bay" id="bay123" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay124" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay125" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay126" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-14 column">
      <div class="hex bay" id="bay127" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay128" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay129" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay130" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay131" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="hexes-13 column">
      <div class="hex bay" id="bay132" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay133" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay134" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
      <div class="hex bay" id="bay135" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>Hello!</strong>
          <small>i'm a hexagon</small>
        </span>
      </div>
    </div>
    <div class="shadows"></div>
  </div>
</div>